* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 1rem 2rem;
}

.title {
  border-bottom: 1px solid black;
}

.title h1 {
  font-weight: 800;
  letter-spacing: 1.5px;
}

.manage-user {
  padding: 1rem 0;
}

.manage-user-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.btn {
  text-align: center;
  margin: 0;
  padding: 0.4rem;
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  border: none;
}

.btn svg {
  width: 100%;
}

.btn-green {
  background-color: #4caf50;
  color: white;
}

.btn-red {
  background-color: #f44336;
  color: white;
}

.btn-yellow {
  background-color: #f4b000;
  color: white;
}

.manage-user-table {
  padding: 1rem 0;
}

.error-text {
  display: none;
  color: red;
}